<div class="controls col-sm-10">
          <ul class="control-list list-inline">
            <li>
              <button class="text-btn btn btn-control" (click)="addForm($event)">
                <strong>Добавить</strong>
                <span class="caret"></span>
              </button>
            </li>
            <li>
              <button class="text-btn btn btn-control" (click)="deleteUser($event)">
                <strong>Удалить</strong>
                <span class="caret"></span>
              </button>
            </li>
          </ul>
</div> 
 
 <div class="inbox col-sm-10" >
     <ul class="list-unstyled">

<!--Добавление ящика-->
        <li class="email-item row unread"  *ngIf="form" >
          <div [hidden]="!message" class="alert alert-danger">
             Пользователь уже существует
          </div>
          <div class="col-sm-3">
            <div class="form-group col-sm-12"  >
        	  <label for="email">Email</label>  
            <input lass="form-control" id="email" name="email" placeholder="example@domain.com"
                        [(ngModel)]="currentUser.email"  #email="ngModel" 
                        required pattern="[a-zA-Z_0-9]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}">
            </div>
            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
            	Некорректный email
            </div>
            
          </div>

          <div class="message col-sm-3">
                <div class="form-group col-sm-12">
        	        <label for="name"> Name </label>
                  <input class="form-control" id="name" name="name"   
                         placeholder="Name" value="" [(ngModel)]="currentUser.name">
                </div>
          </div>
          <div class="message col-sm-3">
                <div class="form-group col-sm-12">
        	        <label for="surname"> Surname </label>
                  <input class="form-control" id="surname" name="surname"   
                         placeholder="Surname" value="" [(ngModel)]="currentUser.surname">
                </div>
          </div>

           <div class="message col-sm-1">
                 <div class="form-group col-sm-12">
                  <label for="email">  </label>
        	       	<button  class="btn btn-default" 
                           [disabled]="email.invalid"
                           (click)="addUser($event)"> Добавить
			            </button>
                </div>
          </div>
            <div class="message col-sm-1">
                 <div class="form-group col-sm-12">
                  <label for="email">  </label>
        	       	<button  class="btn btn-default" 
                          (click)="cancel($event)"> Отменить
			            </button>
                </div>
          </div>
        </li>  
<!--Добавление ящика-->

<!--Изменение ящика-->
        <li class="email-item row unread"  *ngIf="canChange" >
           <div [hidden]="!hasChanged" class="alert alert-danger">
             Изменены данные пользователя {{changingUser.email}}
          </div>        
          <div class="col-sm-3">
            <div class="form-group col-sm-12">
                <label for="email">Email</label>  
                <input  id="email" name="email" [value] = "[changingUser.email]" disabled>
            </div>
          </div>

          <div class="message col-sm-3">
            <div class="form-group col-sm-12">
                <label for="name"> Name </label>
                <input class="form-control" id="name" name="name"   
                       placeholder="Name" [value]="[changingUser.name]" #name>
            </div>
          </div>

          <div class="message col-sm-3">
            <div class="form-group col-sm-12">
        	      <label for="surname"> Surname </label>
                <input class="form-control" id="surname" name="surname"   
                       placeholder="Surname" [value]="[changingUser.surname]" #surname>
            </div>
          </div>

          <div class="message col-sm-1">
            <div class="form-group col-sm-12">
                <label for="email">  </label>
        	      <button  class="btn btn-default" (click)="changeUser(name.value, surname.value)"> 
                    Изменить
			          </button>
            </div>
          </div>
          <div class="message col-sm-1">
            <div class="form-group col-sm-12">
                <label for="email">  </label>
        	      <button class="btn btn-default" (click)="cancel($event)"> 
                    Отменить
			          </button>
            </div>
          </div>
            
        </li>  
<!--Изменение ящика-->

        <div [hidden]="messageAdd == false" class="alert alert-danger">
             Пользователь добавлен
        </div>
      <app-contact *ngFor = "let user of users "  
                      [user]="user"
                      (onCheck)="createArray($event)"
                      (onChangeUser)="changeUserData($event)">
                      
      </app-contact>
    
     </ul>
  </div>
 
  <!--<div class="email-item row unread" *ngIf = "form" >
                <div class="people col-sm-3">
               
              </div>
             
              <div class="message col-sm-7">
                <div class="clipper">
			            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="" [(ngModel)]="currentUser.email">
                	<input type="text" class="form-control" id="name" name="name" placeholder="Name" value="" [(ngModel)]="currentUser.name">
                	<input type="text" class="form-control" id="surname" name="surname" placeholder="Surame" value="" [(ngModel)]="currentUser.surname">
                  <input id="submit" name="submit" type="submit" value="Готово" class="btn btn-primary" (click)="addUser($event)" >            
                 </div>
              </div>

              <div class="date col-sm-2">
                
              </div>
            
            </div>-->

       