<li class="email-item row unread" (click)="onSelect(mailbox)">
  <div class="people col-sm-3">
    <ul class="mail-icons list-inline">
        <li>
            <input type="checkbox" class="mail-select">
        </li>
    </ul>
    <span>
          {{mailbox.user.name}} {{mailbox.user.surname}}
    </span>
  </div><!-- people -->
  <div class="lastmessage col-sm-7">
    <div class="clipper">
      <p>{{mailbox.lastMessage.text}}</p>
    </div>
  </div><!-- lastmessage -->
  <div class="date col-sm-2">
      {{mailbox.lastMessage.sentAt | date}}
  </div><!-- date -->
</li>
