<li class="email-item row unread" >
  
              <div class="col-sm-4">
                <ul class="mail-icons list-inline">
                  <li>
                    <input type="checkbox" class="mail-select" (change) = "check($event)" >
                  </li>
                </ul>

                <span >
                   {{user.email}} 
                </span>
              </div>
             
              <div class="col-sm-3">
                              
                  <p>  {{user.name}} </p>
              </div>

              <div class="col-sm-3">
                              
                  <p>  {{user.surname}} </p>
              </div>
               <div class="message col-sm-1">
                 <div class="form-group col-sm-12">
     
        	       	<button  class="btn btn-default" 
                           (keydown.enter)="onSendMessage($event)" 
                           (click)="onSendMessage($event)"> Изменить
			            </button>
                </div>
          </div>
           
</li>